#assetDropdown .assetDropdownList{
  overflow-y:auto!important;
  -webkit-overflow-scrolling:touch!important;
  overscroll-behavior:contain!important;
  touch-action:pan-y!important;
  scroll-behavior:auto!important;
}
#assetDropdown.is-open{
  overscroll-behavior:contain!important;
}
